* {
	-moz-user-select: none;
	-webkit-user-select: none;
}

body {
	background-color: black;
	color: white;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 20px;
}
