$minoWidth: 40px;
$minoHeight: 40px;

.mainArea {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	.matrix {
		display: grid;
		grid-template-columns: repeat(10, $minoWidth);
		grid-template-rows: repeat(20, $minoHeight);

		.cleanAnimation {
			transition: background-color 300ms ease-out;
			background-color: white;
		}
	}

	.showcaseMatrix,
	.holdMatrix {
		display: grid;
		grid-template-columns: repeat(4, $minoWidth);
		grid-template-rows: repeat(5, $minoHeight);
		margin: $minoWidth / 5px;

		h3 {
			grid-column: 1/5;
		}
	}
}

.mino {
	background-color: black;
	border: 0.5px solid lighten(black, 20);
	color: white;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}

.cyan {
	background-color: cyan;
}
