$minoWidth: 40px;
$minoHeight: 40px;

.matrix {
	display: grid;
	grid-template-columns: repeat(10, $minoWidth);
	grid-template-rows: repeat(20, $minoHeight);
	.mino {
		background-color: black;
		border: 0.5px solid lighten(black, 20);
		color: white;
	}

	.cleanAnimation {
		transition: background-color 300ms ease-out;
		background-color: white;
	}

	.red {
		background-color: red;
	}

	.blue {
		background-color: blue;
	}

	.yellow {
		background-color: yellow;
	}

	.green {
		background-color: green;
	}

	.orange {
		background-color: orange;
	}

	.purple {
		background-color: purple;
	}

	.cyan {
		background-color: cyan;
	}
}
